body{
    margin: 0;
}

.Top{
    background-color: #1f2937;
    padding: 0px 100px 100px 100px;
    
}

.header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.header .logo{
    color: #f9faf8;
    font-size: 24px;
} 

nav ul{
    list-style-type: none;
}

.header nav ul a{
    color: #e5e7eb;
    padding: 5px;
}

.content{
    position: relative;
    display: flex;
    justify-content: space-between;
    
}

.main-text{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-bottom: 0;
    
}

.main-subtext{
    color: #f9faf8;
    padding-right: 5em;
    margin-top: 0;
}

button{
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 6px;
    width: 6em;
    height: 2em;
    border: 0;
}

img{
    padding-top: 3em;
    padding-right: 5px;
    max-width: auto;
    max-height: 400px;
    
}

